.address {
  .addressContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;

    @media (min-width: 992px) {
      flex-direction: row;
      gap: 4.5rem;
    }
  }

  .addresses {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2.5rem;
    
    @media (min-width: 992px) {
      margin-bottom: 0;
    }   
  }

  .shippingAddresses,
  .billingAddresses {
    flex: 1;
    gap: 1rem;
  }

  .addressContainer {
    display: flex;
    gap: 0.5rem;
  }
}