.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &.isInvalid {
    input {
      border-color: var(--color-danger);
    }

    .fieldError {
      color: var(--color-danger);
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }
  }
}
