rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /categories/{categoryId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /discounts/{discountId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /users/{userId} {
      allow get: if request.auth != null && (request.auth.uid == userId || isAdmin());
      allow list: if isAdmin();
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /orders/{orderId} {
      allow read: if request.auth != null && (isAdmin() || resource.data.uid == request.auth.uid);
      allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
      allow update, delete: if isAdmin();
    }
  }
}
