.sidebarMenu {
  margin-bottom: 1rem;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.5rem;

    .active {
      font-weight: bold;
    }
  }
}