.mainNav {
  display: none;

  .closeMenuButton {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &.open {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--body-bg-color);
    z-index: 1000;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-size: larger;

    .closeMenuButton {
      display: block;
    }    
  }

  &.desktop {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}