.rangeSlider {
  width: 100%;
  position: relative;

  .slider {
    position: relative;
    height: 18px;
    margin-bottom: 0.5rem;
  }

  .track {
    position: absolute;
    height: 1px;
    background: #000;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  input[type='range'] {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    background: none;
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
  }

  input[type='range']::-webkit-slider-thumb {
    pointer-events: all;
    width: 10px;
    height: 18px;
    border-radius: 3px;
    background: #000;
    cursor: pointer;
    -webkit-appearance: none;
  }

  input[type='range']::-moz-range-thumb {
    pointer-events: all;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
  }

  .rangeValues {
    display: flex;
    justify-content: space-between;
  }

  .rangeValue input {
    width: 70px;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
