.startPage {
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0;
    padding-top: 2.5rem;
    background-color: #fff;
    background: linear-gradient(
      180deg,
      color-mix(in srgb, var(--color-mint), #fff 30%),
      var(--color-mint) 100%
    );
      
    @media (min-width: 1200px) {
      min-height: 47vh;
    }

    @media (min-width: 1400px) {
      min-height: 55vh;
    }
      
    h1 {
      font-size: 3.5em;
      margin-bottom: 0.5em;
      text-align: center;     

      @media (min-width: 1200px) {
        text-align: left;     
      }
    }

    p {
      font-size: 1.25em;
    }

    &>div {
      display: flex;
      flex-direction: column;
      align-items: center;      
      
      @media (min-width: 1200px) { 
        gap: 2.5rem;
        flex-direction: row;
        align-items: flex-end;
      }
    }

    .introText {
      flex: 1;
      margin-bottom: 2.5rem;
      text-align: center;
      
      @media (min-width: 1200px) {
        text-align: left;
      }      
    }

    .modelImage {
      display: none;

      @media (min-width: 1200px) {
        flex: 1;
        display: flex;
        justify-content: center;
        background-color: color-mix(in srgb, var(--color-mint), #000 5%);
        -webkit-mask-image: url('@/public/images/model.svg');
        mask-image: url('@/public/images/model.svg');
        mask-size: contain;
        mask-repeat: no-repeat;   
        mask-position: bottom center;
        align-self: stretch;
  
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    .adminInfo {
      background-color: #fff;
      padding: 2rem;
      border-top: color-mix(in srgb, var(--color-mint), #000 30%) solid 5px;
      box-shadow: 0 3px 8px 0 oklch(0 0.1 0.5 / 0.1);
      font-size: 0.85em;
      margin-bottom: 2.5rem;
    }
  }

  section {
    margin: 7.5rem 0;
  }

  .categoriesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }
}