.categories {
  .actions {
    margin-bottom: 2rem;
  }

  @media (min-width: 1024px) {
    .status {
      max-width: 100px;
    }
  }

  @media (min-width: 1024px) {
    .actions {
      max-width: 150px;
    }
  } 
}
