.category {
  .active {
    color: var(--color-success);
  }

  .inactive {
    color: var(--color-danger);
  }

  .status {
    max-width: 100px;
  }

  .actions {
    gap: 0.5rem;
    justify-content: flex-end;

    @media (min-width: 1024px) {
      max-width: 150px;
    }
  }  
}
