.mainMenu {
  flex: 1;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 1px;
    margin: 0 0 1rem 0;

    li {
      a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        span {
          flex: 1;
        }

        &:hover,
        &.active {
          color: white;
          background-color: var(--palette-1);
        }
      }
    }
  }
}
