.dashboard {
  .red,
  .green,
  .blue,
  .yellow {
    color: #fff;
  }

  .red {
    background: var(--palette-red);
    background: linear-gradient(
      135deg,
      color-mix(var(--palette-red), #fff 15%),
      var(--palette-red)
    );
  }

  .green {
    background: var(--palette-green);
    background: linear-gradient(
      135deg,
      color-mix(var(--palette-green), #fff 15%),
      var(--palette-green)
    );
  }

  .blue {
    background: var(--palette-blue);
    background: linear-gradient(
      135deg,
      color-mix(var(--palette-blue), #fff 15%),
      var(--palette-blue)
    );    
  }

  .yellow {
    background: var(--palette-yellow);
    background: linear-gradient(
      135deg,
      color-mix(var(--palette-yellow), #fff 15%),
      var(--palette-yellow)
    );
  }

  .statistics {
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
    
    @media (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1100px) {
      grid-template-columns: repeat(4, minmax(0, 300px));
    }
  }
}